@media only screen and (min-width: 412px) {
	#events .float_01 {
		top: -60px;
  	left: -100px;
	}
}
@media only screen and (min-width: 600px) {
	/*--------------------------------------------------------------
	# Sections
	--------------------------------------------------------------*/
	.section_heading .section_title {
		font-size: 54px;
	}
	.section_heading .section_title .title_bg {
		max-width: 100%;
		left: -44px;
  	top: -38px;
	}
	#events .events_content .events_list .event_title {
		font-size: 21px;
	}
	/*--------------------------------------------------------------
	# Locations Section
	--------------------------------------------------------------*/
	#locations .locations_wrapper .location_single {
		margin: 20px 38px;
	}
	#locations .location_single .location_content a {
		font-size: 36px;
	} 
	#locations  .location_single .location_bg {
		max-width: 100%;
		left: 224px;
	}
	/*--------------------------------------------------------------
	# Events Section
	-------------------------------------------------------------- */
	#events .float_01 {
		top: -120px;
  	left: -150px;
	}
	/*--------------------------------------------------------------
	# School Excursion Section
	-------------------------------------------------------------- */
	#school_ex .section_header .section_title {
		font-size: 56px;
	}
	#school_ex .section_header .section_title span {	
		font-size: 36px;
	}
	#school_ex .school_ex_content p {
		font-size: 13px;
	}
	/*--------------------------------------------------------------
	# Contact Section
	--------------------------------------------------------------*/
	#contact {
 	 background-position: center;
	}
	#contact .flex_container {
		justify-content: flex-end;
	}
	#contact .section_header .section_title {
		align-items: flex-end;
  	justify-content: flex-end;	
	}
}

@media only screen and (min-width: 768px) {
	.web_container {
	  padding: 0 30px;
	}
	/*--------------------------------------------------------------
	# Contact Section
	--------------------------------------------------------------*/
	#contact .section_header .section_title {
		font-size: 58.5px;
	}
	#contact .section_header .section_title span {	
		font-size: 54px;
	}
	#contact .contact_form {
		max-width: none;
		width: 360px;
	}
	#contact .contact_form .form-group {
	  margin-bottom: 27px;
	}
	#contact .contact_form .was-validated .form-group {
  	margin-bottom: 15px;
  }
  #contact .contact_content .overlay_leaves img {
	  max-width: 500px;
	}	
}

@media only screen and (min-width: 992px) {
	.nav-menu li {
		margin: 0 16px;
	}
	/*--------------------------------------------------------------
	# Locations Section
	--------------------------------------------------------------*/
	#locations {
		padding: 186px 0 156px;
	}
	/*--------------------------------------------------------------
	# Events Section
	-------------------------------------------------------------- */
	#events {
		padding: 0;
		background-position: -150px -10px;
	}
	#events .float_01 {
	  top: -120px;
	  left: -350px;
	}
	#events .float_03 {
		max-height: 100%;
	}
	#events .flex_container {
		flex-wrap: nowrap;
	}
	#events .events_img {
		position: relative;
		left: 64px;
		height: 768px;
	  display: block;
	}
	#events .events_content {
	  align-self: center;
	  flex: 55%;
	  padding-right: 2%;
	}
	#events .events_content .section_heading {
	  justify-content: flex-end;
	}
	#events .events_content .events_list {
	  text-align: right;
	}
	/*--------------------------------------------------------------
	# School Excursion Section
	-------------------------------------------------------------- */
	#school_ex {
		padding: 0;
	}
	#school_ex .web_container {
		padding: 0;
	}
	#school_ex .flex_container {
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		height: 100%;
	}
	#school_ex .school_ex_img {
		margin: 0;
	}
	/*--------------------------------------------------------------
	# Contact Section
	--------------------------------------------------------------*/
	#contact {
		padding: 130px 0 169px;
	}
	#contact .contact_form {
		width: 446px;
	}
	#contact .contact_form .form_btn_wrapper {
	  justify-content: flex-end;
	  margin-right: 127px;
	}
	#contact .contact_content .overlay_leaves img {
	  max-width: none;
	}	
	/*--------------------------------------------------------------
	# Footer
	--------------------------------------------------------------*/
	#footer {
		padding: 0;
		position: fixed;
	  bottom: 30px;
	  right: 0;
	  left: 0;
	}
	#footer .footer_inner {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
	#footer .footer_left .copyright {
		margin: 0;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1365px) {
	/*--------------------------------------------------------------
	# School Excursion Section
	-------------------------------------------------------------- */
	#school_ex {
		height: 768px;
		overflow: hidden;
	}
	#school_ex .school_ex_content {
	  padding: 0 30px;
	  /*padding: 92px 0;*/
	  width: 50%;
	}
	#school_ex .school_ex_img {
		width: 50%;
	}
	#school_ex .school_ex_img img {
		height: 100%;
	}
}

@media only screen and (min-width: 1200px) {
	.web_container {
		padding: 0 50px;
	}
	/*--------------------------------------------------------------
	# Events Section
	--------------------------------------------------------------*/
	#events .float_01 {
	  top: -120px;
	  left: -300px;
	}
	#events .float_03 {
		right: 28px;
	}
	#events .events_content {
  	flex: auto;
    flex-grow: 1;
    padding-right: 0;
  }
  /*--------------------------------------------------------------
	# School Excursion Section
	--------------------------------------------------------------*/
  #school_ex .section_header .section_title {
		font-size: 66.5px;
	}
	#school_ex .section_header .section_title span {	
		font-size: 42px;
	}
}

@media only screen and (min-width: 1280px) {
	/*--------------------------------------------------------------
	# School Excursion Section
	-------------------------------------------------------------- */
	#school_ex .school_ex_content {
	  padding: 0 80px;
	  max-width: 646px;
	}
	#school_ex .school_ex_img img {
		height: auto;
	}
}

@media only screen and (min-width: 1366px) {
	.web_container {
		padding: 0 90px;
	}
	/*--------------------------------------------------------------
	# Events Section
	--------------------------------------------------------------*/
	#events .events_img {
		left: 84px;
	}
	#events .float_01 {
	  top: -133px;
	  left: -245px;
	}
}