@media only screen and (min-width: 600px) {
	/*--------------------------------------------------------------
	# Sections
	--------------------------------------------------------------*/
	.section_heading .section_title {
		font-size: 54px;
	}
	.section_heading .section_title .title_bg {
		max-width: 100%;
		left: -44px;
  	top: -38px;
	}
	/*--------------------------------------------------------------
	# Locations Section
	--------------------------------------------------------------*/
	#locations .locations_wrapper .location_single {
		margin: 20px 38px;
	}
	#locations .location_single .location_content a {
		font-size: 36px;
	} 
	#locations  .location_single .location_bg {
		max-width: 100%;
		left: 224px;
	}
	/*--------------------------------------------------------------
	# Contact Section
	--------------------------------------------------------------*/
	#contact {
 	 background-position: center;
	}
	#contact .flex_container {
		justify-content: flex-end;
	}
	#contact .section_header .section_title {
		align-items: flex-end;
  	justify-content: flex-end;	
	}
}

@media only screen and (min-width: 768px) {
	.web_container {
	  padding: 0 30px;
	}
	/*--------------------------------------------------------------
	# Contact Section
	--------------------------------------------------------------*/
	#contact .section_header .section_title {
		font-size: 58.5px;
	}
	#contact .section_header .section_title span {	
		font-size: 54px;
	}
	#contact .contact_form {
		max-width: none;
		width: 360px;
	}
	#contact .contact_form .form-group {
	  margin-bottom: 27px;
	}
	#contact .contact_form .was-validated .form-group {
  	margin-bottom: 15px;
  }
  #contact .contact_content .overlay_leaves img {
	  max-width: 500px;
	}	
}

@media only screen and (min-width: 992px) {
	.nav-menu li {
		margin: 0 17px;
	}
	/*--------------------------------------------------------------
	# Locations Section
	--------------------------------------------------------------*/
	#locations {
		padding: 186px 0 156px;
	}
	/*--------------------------------------------------------------
	# Contact Section
	--------------------------------------------------------------*/
	#contact {
		padding: 130px 0 169px;
	}
	#contact .contact_form {
		width: 446px;
	}
	#contact .contact_form .form_btn_wrapper {
	  justify-content: flex-end;
	  margin-right: 127px;
	}
	#contact .contact_content .overlay_leaves img {
	  max-width: none;
	}	
	/*--------------------------------------------------------------
	# Footer
	--------------------------------------------------------------*/
	#footer {
		padding: 0;
		position: fixed;
	  bottom: 30px;
	  right: 0;
	  left: 0;
	}
	#footer .footer_inner {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
	#footer .footer_left .copyright {
		margin: 0;
	}
}

@media only screen and (min-width: 1200px) {
	.web_container {
		padding: 0 50px;
	}
}