

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/hero_bg.png) center;
  background-size: cover;
  position: relative;
} 

#hero .hero_carousel .slide_inner {
  display: flex;
}

#hero .slide_inner .slide_content {
  flex: 30%;
}

 #hero .slide_inner .slide_img {
  flex: 70%;
 }

#hero .hero_content, #hero .hero_img {
  height: 100vh;
  display: flex;
  align-items: center;
}

#hero .hero_content .hero_content_inner {
  display: flex;
}

#hero .slide_inner .slide_content {
  flex: 30%;
}

#hero .slide_inner .slide_img {
  flex: 70%;
}

#hero .slide_three .hero_content_inner .content_left {
  height: 145px;
  display: flex;
  align-items: center;
}

#hero .hero_content_inner .content_left h2, #hero .hero_content_inner .content_left h4 {
  margin-bottom: 0;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: 2.25px;
  text-align: right;
}

#hero .hero_content_inner .content_left h2 span, #hero .hero_content_inner .content_left h4 span {
  font-family: 'Athene';
  display: block;
  line-height: 1.44;
  letter-spacing: 1.88px;
  font-weight: normal;
}

#hero .hero_content_inner .content_left h4 {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 1.5px;
}

#hero .hero_content_inner .content_left h4 span {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 1.5px;
}

#hero .slide_three .hero_content_inner .content_left h4 span {
  margin-bottom: 20px;
}

#hero .slide_four .hero_content_inner .content_left h4 span {
  margin-bottom: 13px;
}

#hero .hero_content_inner .content_right h1 {
  font-size: 40px;
  line-height: 1.21;
  text-transform: uppercase;
  letter-spacing: 1.18px;
  margin-bottom: 13px;
}

#hero .hero_content_inner .content_right h3 {
  font-size: 33px;
  text-transform: uppercase;
  line-height: 64.5px;
  letter-spacing: 0.95px;
}

#hero .hero_content_inner .content_right h3 span {
  font-size: 47px;
  letter-spacing: 1.33px;
}

#hero .hero_content_inner .content_right h4 {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.78px;
  text-transform: uppercase;
  margin: 0;
}

#hero .hero_content_inner .content_right h4 span {
  font-size: 32px;
  letter-spacing: 0.93px;
}

#hero .slide_four .hero_content_inner .content_right h5 {
  font-size: 27px;
  line-height: 0.98;
  margin-bottom: 15px;
}

#hero .hero_content_inner .content_right h5 {
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0;
}

#hero .slide_three .hero_content_inner .content_right h5 {
  font-size: 19px;
}

#hero .hero_content_inner .content_right h6 {
  font-size: 12px;
  line-height: 1.89;
  text-transform: uppercase;
  margin-bottom: 0;
}

#hero .hero_content_inner .separator {
  margin: 0 14px 0 8px;
}

#hero .hero_content_inner .separator img {
  height: 135px;
  width: 2px;
  max-width: none;
}

#hero .slide_four .hero_content_inner .separator img {
  height: 111px;
}

#hero .hero_content_inner .content_right .hero_btn {
  margin-top: 30px;
}

#hero .hero_img img {
  width: auto;
}

#hero .hero_img .main_img {
  position: absolute;
}

#hero .hero_img .overlay_leaves {
  position: absolute;
  z-index: 1;
} 

#hero .hero_img .slide_logo {
  position: absolute;
  right: 4%;
  bottom: 140px;
}

#hero .slide_four .hero_img .slide_logo {
  bottom: 112px;
}

#custom_dots {
  position: relative;
  display: flex;
  margin-top: 23px;
}

#custom_dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border-radius: 100%;
  border: 2px solid #000;
  cursor: pointer;
}

#custom_dots .owl-dot.active {
  background: #000;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  height: 100vh;
  background: url(../img/section_bg.png) center;
  background-size: cover;
}










/*--------------------------------------------------------------
# Membership Section
--------------------------------------------------------------*/
#membership {
  padding:  127px 0 86px;
}

#membership .membership_content {
  padding-top: 71px;
}

#membership .membership_content h1 {
  font-family: 'Athene';
  font-size: 58.5px;
  font-weight: normal;
  line-height: 70px;
  letter-spacing: 2.93px;
  margin: 0;
}

#membership .membership_sports {
  margin-top: 55px;
}

#membership .btn_wrapper {
  margin-top: 54px;
  text-align: center;
}

#membership .membership_img {
  position: relative;
  flex-grow: 1;
}

#membership .membership_img .main_img {
  position: relative;
}

#membership .membership_img .overlay_leaves {
  position: absolute;
  top: 38px;
  right: -25px;
}

#membership .membership_img .img_content {
  position: absolute;
  top: 140px;
  right: 150px;
  width: 366px;
}

#membership .membership_img .img_content h2 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0.51px;
  line-height: 1;
  margin: 0;
}

#membership .membership_img .img_content p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1.58px;
  text-align: justify;
}

/*--------------------------------------------------------------
# School Excursion Section
--------------------------------------------------------------*/


#school_ex .flex_container {
  align-items: center;
}



#school_ex .school_ex_content h1 {
  display: flex;
  align-items: flex-start;
  font-family: "Athene";
  font-size: 66.5px;
  font-weight: normal;
  line-height: 1.68;
  letter-spacing: 3.33px;
  margin-bottom: 0;
}

#school_ex .school_ex_content h1 span {
  font-family: "Montserrat";
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 1.05px;
}

#school_ex .school_ex_content .school_ex_text {
  position: relative;
  padding: 7px;
}

#school_ex .school_ex_content .school_ex_text:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.29);
}

#school_ex .school_ex_content p {
  position: relative;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.62;
  text-align: justify;
  margin-bottom: 15px;
}

#school_ex .school_ex_content p span {
  font-weight: 600;
  display: inline-block;
}

#school_ex .school_ex_content .btn_wrapper {
  margin-top: 15px;
  text-align: center;
}

#school_ex .school_ex_img {
  position: relative;
}

#school_ex .school_ex_img .overlay_leaves {
  position: absolute;
  bottom: 177px;
  right: 45px;
}

/*#school_ex .school_ex_img .layer_00 {
  position: absolute;
  top: 139px;
  right: -50px;
  opacity: 0.23;
}

#school_ex .school_ex_img .layer_01 {
  position: absolute;
  top: 142px;
  right: -63px;
  mix-blend-mode: darken;
}*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/




#footer .footer_center .back-to-top {
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: background 0.5s;
} 

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #2dc997;
  color: #fff;
}

