@font-face {
  font-family: "Montserrat";
  src: url("../lib/fonts/Montserrat-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../lib/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500,
  font-style: normal;
}

@font-face {
  font-family: "Athene";
  src: url("../lib/fonts/Athene.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Montserrat";
}

a {
  color: #fff;
  letter-spacing: 6px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 800;
  outline: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  color: #000;
  padding: 0;
  font-weight: 800;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cta {
  display: inline-block;
  width: 203px;
  text-align: center;
  text-transform: uppercase;
  background: #000;
  padding: 18.5px 0;
}

.web_container {
  padding: 0 90px;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #2dc997;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 57px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header .logo img {
  max-height: 42px;
}

#header .header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu {
  display: flex;
}

.nav-menu li {
  position: relative;
  margin: 0 17px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  font-size: 12px;
  padding: 0 5px 7px;
  display: inline-block;
  letter-spacing: 3.12px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  outline: none;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul .menu-item-active {
  color: #2dc997;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/hero_bg.png) top center;
  background-size: cover;
  position: relative;
} 

#hero .hero_carousel .slide_inner {
  display: flex;
}

#hero .slide_inner .slide_content {
  flex: 45.5%;
}

 #hero .slide_inner .slide_img {
  flex: 54.5%;
 }

#hero .hero_content, #hero .hero_img {
  height: 100vh;
  display: flex;
  align-items: center;
}

#hero .hero_content .hero_content_inner {
  display: flex;
}

#hero .slide_three .hero_content_inner .content_left {
  height: 145px;
  display: flex;
  align-items: center;
}

#hero .hero_content_inner .content_left h2, #hero .hero_content_inner .content_left h4 {
  margin-bottom: 0;
  font-size: 45px;
  line-height: 1.2;
  letter-spacing: 2.25px;
  text-align: right;
}

#hero .hero_content_inner .content_left h2 span, #hero .hero_content_inner .content_left h4 span {
  font-family: 'Athene';
  display: block;
  font-size: 37px;
  line-height: 1.44;
  letter-spacing: 1.88px;
  font-weight: normal;
}

#hero .hero_content_inner .content_left h4 {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 1.5px;
}

#hero .hero_content_inner .content_left h4 span {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 1.5px;
}

#hero .slide_three .hero_content_inner .content_left h4 span {
  margin-bottom: 20px;
}

#hero .slide_four .hero_content_inner .content_left h4 span {
  margin-bottom: 13px;
}

#hero .hero_content_inner .content_right h1 {
  font-size: 47px;
  line-height: 1.21;
  text-transform: uppercase;
  letter-spacing: 1.18px;
  margin-bottom: 13px;
}

#hero .hero_content_inner .content_right h3 {
  font-size: 38px;
  text-transform: uppercase;
  line-height: 64.5px;
  letter-spacing: 0.95px;
}

#hero .hero_content_inner .content_right h3 span {
  font-size: 53px;
  letter-spacing: 1.33px;
}

#hero .hero_content_inner .content_right h4 {
  font-size: 31px;
  line-height: 1.19;
  letter-spacing: 0.78px;
  text-transform: uppercase;
  margin: 0;
}

#hero .hero_content_inner .content_right h4 span {
  font-size: 37px;
  letter-spacing: 0.93px;
}

#hero .slide_four .hero_content_inner .content_right h5 {
  font-size: 27px;
  line-height: 0.98;
  margin-bottom: 10px;
}

#hero .hero_content_inner .content_right h5 {
  font-size: 21px;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0;
}

#hero .hero_content_inner .content_right h6 {
  font-size: 13.5px;
  line-height: 1.89;
  text-transform: uppercase;
  margin-bottom: 0;
}

#hero .hero_content_inner .separator {
  margin: 0 14px 0 8px;
}

#hero .hero_content_inner .separator img {
  height: 145px;
  width: 2px;
}

#hero .slide_four .hero_content_inner .separator img {
  height: 111px;
}

#hero .hero_content_inner .content_right .hero_btn {
  margin-top: 30px;
}

#hero .hero_img img {
  width: auto;
}

#hero .hero_img .main_img {
  position: absolute;
  top: 120px;
  right: 180px;
  z-index: 2;
}

#hero .slide_two .hero_img .main_img, #hero .slide_three .hero_img .main_img, #hero .slide_four .hero_img .main_img {
  top: 98px;
  right: 90px;
  z-index: 0;
}

#hero .hero_img .overlay_leaves {
  position: absolute;
  top: 150px;
  right: 109px;
  z-index: 4;
} 

#custom_dots {
  position: relative;
  display: flex;
  margin-top: 23px;
}

#custom_dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border-radius: 100%;
  border: 2px solid #000;
  cursor: pointer;
}

#custom_dots .owl-dot.active {
  background: #000;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  position: fixed;
  bottom: 57px;
  right: 0;
  left: 0;
  z-index: 999;
}

#footer .footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#footer .footer_left h6 {
  font-size: 13.5px;
  font-weight: 500;
  margin: 0;
}

#footer .footer_right .social_media_links {
  display: flex;
}

#footer .footer_right .social_media_links li {
  margin: 0 4px;
}

#footer .footer_right .social_media_links li img {
  width: 28px;
}