@font-face {
  font-family: "Montserrat";
  src: url("../lib/fonts/Montserrat-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../lib/fonts/Montserrat-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../lib/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../lib/fonts/Montserrat-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../lib/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Athene";
  src: url("../lib/fonts/Athene.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Montserrat";
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 800;
  outline: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  color: #000;
  padding: 0;
  font-weight: 800;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

span {
  display: block;
}

.cta {
  display: inline-block;
  letter-spacing: 5px;
  width: 180px;
  text-align: center;
  text-transform: uppercase;
  background: #000;
  /*padding: 18.5px 0;*/
  padding: 15px 0;
}

.web_container {
  padding: 0 30px;
}

.flex_container {
  display: flex;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #2dc997;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 65px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header .logo img {
  max-height: 42px;
}

#header .header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu {
  display: flex;
}

.nav-menu li {
  position: relative;
  margin: 0 17px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  font-size: 12px;
  padding: 0 5px 7px;
  display: inline-block;
  letter-spacing: 1.8px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  outline: none;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 57px;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #000;
  transform: translateX(-50%) scaleX(0);;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  transform: translateX(-50%) scaleX(1);
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul .menu-item-active {
  color: #2dc997;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 768px;
  background: url(../img/hero_bg.png) top center;
  background-size: cover;
  position: relative;
} 

#hero .hero_carousel .slide_inner {
  display: flex;
}

#hero .slide_inner .slide_content {
  flex: 30%;
}

 #hero .slide_inner .slide_img {
  flex: 70%;
 }

#hero .hero_content, #hero .hero_img {
  height: 768px;
  display: flex;
  align-items: center;
}

#hero .hero_content .hero_content_inner {
  display: flex;
}

#hero .slide_inner .slide_content {
  flex: 30%;
}

#hero .slide_inner .slide_img {
  flex: 70%;
}

#hero .slide_three .hero_content_inner .content_left {
  height: 145px;
  display: flex;
  align-items: center;
}

#hero .hero_content_inner .content_left h2, #hero .hero_content_inner .content_left h4 {
  margin-bottom: 0;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 2.25px;
  text-align: right;
}

#hero .hero_content_inner .content_left h2 span, #hero .hero_content_inner .content_left h4 span {
  font-family: 'Athene';
  display: block;
  line-height: 1.44;
  letter-spacing: 1.88px;
  font-weight: normal;
}

#hero .hero_content_inner .content_left h4 {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 1.5px;
}

#hero .hero_content_inner .content_left h4 span {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 1.5px;
}

#hero .slide_three .hero_content_inner .content_left h4 span {
  margin-bottom: 20px;
}

#hero .slide_four .hero_content_inner .content_left h4 span {
  margin-bottom: 13px;
}

#hero .hero_content_inner .content_right h1 {
  font-size: 40px;
  line-height: 1.21;
  text-transform: uppercase;
  letter-spacing: 1.18px;
  margin-bottom: 13px;
}

#hero .hero_content_inner .content_right h3 {
  font-size: 33px;
  text-transform: uppercase;
  line-height: 64.5px;
  letter-spacing: 0.95px;
}

#hero .hero_content_inner .content_right h3 span {
  font-size: 47px;
  letter-spacing: 1.33px;
}

#hero .hero_content_inner .content_right h4 {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.78px;
  text-transform: uppercase;
  margin: 0;
}

#hero .hero_content_inner .content_right h4 span {
  font-size: 32px;
  letter-spacing: 0.93px;
}

#hero .slide_four .hero_content_inner .content_right h5 {
  font-size: 27px;
  line-height: 0.98;
  margin-bottom: 15px;
}

#hero .hero_content_inner .content_right h5 {
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0;
}

#hero .slide_three .hero_content_inner .content_right h5 {
  font-size: 19px;
}

#hero .hero_content_inner .content_right h6 {
  font-size: 12px;
  line-height: 1.89;
  text-transform: uppercase;
  margin-bottom: 0;
}

#hero .hero_content_inner .separator {
  margin: 0 14px 0 8px;
}

#hero .hero_content_inner .separator img {
  height: 145px;
  width: 2px;
}

#hero .slide_four .hero_content_inner .separator img {
  height: 111px;
}

#hero .hero_content_inner .content_right .hero_btn {
  margin-top: 30px;
}

#hero .hero_img img {
  width: auto;
}

#hero .hero_img .main_img {
  position: absolute;
}

#hero .hero_img .overlay_leaves {
  position: absolute;
  z-index: 1;
} 

#hero .hero_img .slide_logo {
  position: absolute;
  right: 4%;
  bottom: 140px;
}

#hero .slide_four .hero_img .slide_logo {
  bottom: 112px;
}

#custom_dots {
  position: relative;
  display: flex;
  margin-top: 23px;
}

#custom_dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border-radius: 100%;
  border: 2px solid #000;
  cursor: pointer;
}

#custom_dots .owl-dot.active {
  background: #000;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  height: 768px;
  background: url(../img/section_bg.png);
  background-size: cover;
}
.section_header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.section_title {
  position: relative;
  font-size: 54px;
  font-weight: 600;
  line-height: 1.19;
  letter-spacing: 1.35px;
}

.section_title span {
  font-family: "Athene";  
  font-weight: normal;
  display: inline-block;
}

.title_bg {
  position: absolute;
  left: -44px;
  top: -38px;
}

/*--------------------------------------------------------------
# Locations Section
--------------------------------------------------------------*/
#locations {
  padding: 158px 0 136px;
}

#locations .locations_wrapper {
  display: flex;
  justify-content: center;
}

#locations .locations_wrapper .location_single {
  position: relative;
  margin: 0 47px;
  width: 301px;
  height: 262px;
  transition: all 1.5s;
}

#locations .locations_wrapper .location_single.bg_gurgaon {
  background: url(../img/gurgaon_dark.png) no-repeat left;
}

#locations .locations_wrapper .location_single.bg_gurgaon:hover {
 background: url(../img/gurgaon.png) no-repeat left; 
}

#locations .locations_wrapper .location_single.bg_manesar {
  background: url(../img/manesar_dark.png) no-repeat left;
}

#locations .locations_wrapper .location_single.bg_manesar:hover {
  background: url(../img/manesar.png) no-repeat left;
}

#locations .location_single .location_content {
  position: absolute;
  top: 101px;
  left: 34.5px;
}

#locations .location_single .location_content h4 {
  font-size: 36px;
  line-height: 1;
  letter-spacing: 2.7px;
  color: #ffcc00;
  margin: 0;
}

#locations .locations_wrapper .location_single:hover .location_content h4 {
  color: #fff;
}

#locations  .location_single .location_bg {
  position: absolute;
  left: 224px;
  bottom: 0;
}

#locations .btn_wrapper {
  margin-top: 37px;
  text-align: center;
}

/*--------------------------------------------------------------
# Events Section
--------------------------------------------------------------*/
#events {
  padding-left: 84px;
  position: relative;
  background: url(../img/events_bg.png);
  background-position: -150px -10px;
}

#events .float_01 {
  position: absolute;
  top: -133px;
  left: -245px;
  mix-blend-mode: color-burn;
  z-index: 1;
}

#events .float_02 {
  position: absolute;
  right: 0;
  bottom: 0;
  mix-blend-mode: hard-light;
}

#events .float_03 {
  position: absolute;
  right: 28px;
  bottom: 0;
}

#events .events_img img {
  position: relative;
  top: -15px;
}

#events .events_content {
  padding-top: 226px;
  flex-grow: 1;
}

#events .events_content .section_header {
  justify-content: flex-end;
  margin-bottom: 67px;
}

#events .events_content .events_list {
  text-align: right;
}

#events .events_content .events_list a {
  display: inline-block;
  position: relative;
  padding-bottom: 9px;
  margin-bottom: 28px;
}

#events .events_content .events_list a:before {
  content: "";
  position: absolute;
  width: 231px;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #ffcc00;
  transform: translateX(-50%) scaleX(1);
  transition: all 0.3s ease-in-out 0s;
}

#events .events_content .events_list a:hover:before, #events .events_content .events_list a:hover > a:before {
  transform: translateX(-50%) scaleX(1);
}

#events .events_content .events_list .event_title {
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1.29;
  letter-spacing: 1.05px;
}

/*--------------------------------------------------------------
# Membership Section
--------------------------------------------------------------*/
#membership {
  padding:  127px 0 86px;
}

#membership .membership_content {
  padding-top: 71px;
}

#membership .membership_content h1 {
  font-family: 'Athene';
  font-size: 58.5px;
  font-weight: normal;
  line-height: 70px;
  letter-spacing: 2.93px;
  margin: 0;
}

#membership .membership_sports {
  margin-top: 55px;
}

#membership .btn_wrapper {
  margin-top: 54px;
  text-align: center;
}

#membership .membership_img {
  position: relative;
  flex-grow: 1;
}

#membership .membership_img .main_img {
  position: absolute;
  right: 64px;
}

#membership .membership_img .overlay_leaves {
  position: absolute;
  top: 33px;
  right: 0;
}

#membership .membership_img .img_content {
  position: absolute;
  top: 145px;
  right: 212px;
  width: 366px;
}

#membership .membership_img .img_content h2 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0.51px;
  line-height: 1;
  margin: 0;
}

#membership .membership_img .img_content p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1.58px;
  text-align: justify;
}

/*--------------------------------------------------------------
# School Excursion Section
--------------------------------------------------------------*/
#school_ex {
  overflow-x: hidden;
}
#school_ex .school_ex_content {
  padding: 134px 80px 0 90px;
}

#school_ex .school_ex_content h1 {
  display: flex;
  align-items: flex-start;
  font-family: "Athene";
  font-size: 66.5px;
  font-weight: normal;
  line-height: 1.68;
  letter-spacing: 3.33px;
  margin-bottom: 0;
}

#school_ex .school_ex_content h1 span {
  font-family: "Montserrat";
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 1.05px;
}

#school_ex .school_ex_content .school_ex_text {
  position: relative;
  padding: 7px;
}

#school_ex .school_ex_content .school_ex_text:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.29);
}

#school_ex .school_ex_content p {
  position: relative;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.98px;
  line-height: 1.62;
  text-align: justify;
  margin-bottom: 15px;
}

#school_ex .school_ex_content p span {
  font-weight: 600;
  display: inline-block;
}

#school_ex .school_ex_content .btn_wrapper {
  margin-top: 15px;
  text-align: center;
}

#school_ex .school_ex_img .overlay_leaves {
  position: absolute;
  bottom: 177px;
  right: 45px;
}

/*#school_ex .school_ex_img .layer_00 {
  position: absolute;
  top: 139px;
  right: -50px;
  opacity: 0.23;
}

#school_ex .school_ex_img .layer_01 {
  position: absolute;
  top: 142px;
  right: -63px;
  mix-blend-mode: darken;
}*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  position: fixed;
  bottom: 57px;
  right: 0;
  left: 0;
  z-index: 999;
}

#footer .footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#footer .footer_left h6 {
  font-size: 13.5px;
  font-weight: 500;
  margin: 0;
}

#footer .footer_right .social_media_links {
  display: flex;
}

#footer .footer_right .social_media_links li {
  margin: 0 4px;
}

#footer .footer_right .social_media_links li img {
  width: 28px;
}