@font-face {
  font-family: "Montserrat";
  src: url("../lib/fonts/Montserrat-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../lib/fonts/Montserrat-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../lib/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../lib/fonts/Montserrat-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../lib/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Athene";
  src: url("../lib/fonts/Athene.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*, ::after, ::before {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
  font-family: "Montserrat";
  margin: 0;
  /*overflow-x: hidden;*/
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 800;
  outline: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  color: #000;
  padding: 0;
  font-weight: 800;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

span {
  display: block;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.cta {
  display: inline-block;
  letter-spacing: 5px;
  width: 180px;
  text-align: center;
  text-transform: uppercase;
  background: #000;
  padding: 15px 0;
}

.web_container {
  padding: 0 20px;
}

.flex_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Prelaoder */
#preloader, #contact_loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  top: 0;
  left: 0;
  background: #1AC6D9;
  background: -webkit-linear-gradient(120deg, #d3d925  0%, #1ac6d9 100%);
  background: -ms-linear-gradient(120deg, #d3d925  0%, #1ac6d9 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

/* Form loading */
#contact_loader {
  background: rgba(255,255,255,0.6);
  display: none;
}

.loader {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation: loader linear 2s infinite;
  animation: loader linear 2s infinite;
  border-top: 2px solid #000;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent; 
}

#contact_loader .contact_alert {
  display: none;
  align-items: flex-start;
  background: #000;
  padding: 10px 18px 10px 30px;
}

#contact_loader .contact_alert p {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 2.88px;
  color: #fff;
}

#contact_loader .contact_alert button {
  background: none;
  border: none;
  outline: none;
  margin-left: 50px;
}

#contact_loader .contact_alert button img {
  width: 40px;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } 
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  /*padding: 50px 0;*/
  padding: 18px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header .logo img {
  max-height: 42px;
}

#header .header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header.header-fixed {
  /*padding: 25px 0;*/
  padding: 18px 0;
  background: rgba(255,255,255,0.8);
  transition: all 0.5s;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu {
  display: flex;
}

.nav-menu li {
  position: relative;
  margin: 0 15px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  font-size: 12px;
  padding: 0 5px 7px;
  display: inline-block;
  letter-spacing: 1.8px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  outline: none;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 57px;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #000;
  transform: translateX(-50%) scaleX(0);;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  transform: translateX(-50%) scaleX(1);
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul .menu-item-active {
  color: #2dc997;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.section_heading {
  display: flex;
  justify-content: center;
}

.section_heading .section_title {
  position: relative;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.19;
  letter-spacing: 1.35px;
}

.section_heading .section_title span {
  font-family: "Athene";  
  font-weight: normal;
  display: inline-block;
}

.section_heading .section_title .title_bg {
  position: absolute;
  left: -22px;
  top: -15px;
  max-width: 85px;
}

/*--------------------------------------------------------------
# Locations Section
--------------------------------------------------------------*/
#locations {
  /*padding: 182px 0 136px;*/
  padding: 120px 0 60px;
  background: url(../img/location_bg.png) center;
  background-size: cover;
}

#locations .locations_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

#locations .locations_wrapper .location_single {
  position: relative;
  margin: 20px 0;
  width: 242px;
  height: 262px;
  transition: all 1.5s;
}

#locations .locations_wrapper .location_single.bg_gurgaon {
  background: url(../img/gurgaon_dark.png) no-repeat left;
}

#locations .locations_wrapper .location_single.bg_gurgaon:hover {
 background: url(../img/gurgaon.png) no-repeat left; 
}

#locations .locations_wrapper .location_single.bg_manesar {
  background: url(../img/manesar_dark.png) no-repeat left;
}

#locations .locations_wrapper .location_single.bg_manesar:hover {
  background: url(../img/manesar.png) no-repeat left;
}

#locations .location_single .location_content {
  position: absolute;
  top: 101px;
  left: 50%;
  transform: translateX(-50%);
}

#locations .location_single .location_content a {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 2.7px;
  color: #ffcc00;
  margin: 0;
}

#locations .locations_wrapper .location_single:hover .location_content a {
  color: #fff;
}

#locations  .location_single .location_bg {
  position: absolute;
  left: 210px;
  bottom: 0;
  max-width: 60px;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
#contact {
  background: url('../img/contact_bg.png') left;
  background-size: cover;
  padding: 100px 0 60px;
}

#contact .section_header .section_title {
  display: flex;
  justify-content: center;
  font-family: "Athene";
  font-size: 38px;
  font-weight: normal;
  line-height: 1.91;
  letter-spacing: 2.93px;
  margin-bottom: 0;
}

#contact .section_header .section_title span {
  font-family: "Montserrat";
  margin-left: 19px;
  font-style: 34px;
  font-weight: 600;
  letter-spacing: 1.35px;
}

#contact .contact_form_area {
  position: relative;
}

#contact .contact_form {
  position: relative;
  z-index: 2;
  max-width: 446px;
  margin-left: auto;
  margin-top: 15px;
}

#contact .contact_form .form-group {
  margin-bottom: 20px;
}

#contact .contact_form .was-validated .form-group {
  margin-bottom: 12px;
}

#contact .contact_form .form-group .form-control {
  font-family: "Montserrat";
  display: block;
  width: 100%;
  background-color: #fff;
  border: none;
  font-size: 20px;
  line-height: 37px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #000;
  padding: 0;
  padding-left: 11px;
  height: 40px;
}

#contact .contact_form .form-group .form-control::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

#contact .contact_form .form-group .form-control::-moz-placeholder {
  color: #000;
  opacity: 1;
}

#contact .contact_form .form-group .form-control:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

#contact .contact_form .form-group .form-control::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

#contact .contact_form .form-group .form-control::placeholder {
  color: #000;
  opacity: 1;
}

#contact .contact_form .form_btn_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#contact .contact_form .was-validated .form_btn_wrapper {
  margin-top: 30px;
}

#contact .contact_form .form_btn {
  color: #fff;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 5px;
  outline: none;
  border: none;
  line-height: 1.3;
  cursor: pointer;
}

#contact .contact_form .invalid-feedback {
  display: none;
  font-family: "Montserrat";
  font-weight: 500;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  color: #dc3545;
}

#contact .contact_form .was-validated :invalid ~ .invalid-feedback {
  display: block;
}

#contact .contact_content .overlay_leaves {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  position: relative;
  padding: 20px 0;
  z-index: 999;
}

#footer .footer_inner {
  text-align: center;
}

#footer .footer_left .copyright {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}

#footer .footer_right .social_media_links li {
  display: inline-block;
  margin: 0 4px;
}

#footer .footer_right .social_media_links li img {
  width: 28px;
}
